@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

body {
  background-color: black;
  color: white;

  font-size: 1.2rem;
  text-align: center;
}
div {
  font-family: "Updock", cursive;
}
